<!-- IF S_USER_LOGGED_IN -->
	<!-- IF U_ACP && U_ADMIN_VIEW_ONLY or !U_ADMIN_VIEW_ONLY -->
		<div id="statsonindex">
			<div class="rules">
				<div class="inner">
					<a href="#" id="statsonindex">{L_EXTENDED}</a>
					<div class="statsonindex" style="display:none">
						&bull; {TOTAL_POSTS} &bull; {POSTS_PER_YEAR} &bull; {POSTS_PER_DAY} &bull; {POSTS_PER_TOPIC} &bull; {POSTS_PER_USER}<br />
						&bull; {TOTAL_TOPICS} &bull; {TOPICS_PER_YEAR} &bull; {TOPICS_PER_DAY} &bull; {TOPICS_PER_USER}<br />
						&bull; {TOTAL_FILES} &bull; {FILES_PER_YEAR} &bull; {FILES_PER_DAY} &bull; {FILES_PER_USER}<br />
						&bull; {TOTAL_USERS} &bull; {USERS_PER_YEAR} &bull; {USERS_PER_DAY}<br />
						&bull; {L_START_DATE}  <strong>{START_DATE}</strong>
					</div>
				</div>
			</div>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->
